<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><ui:insert name="title">COut2</ui:insert></title>
        <link rel="stylesheet" href="/COut2/resources/templateStyle.css"/>
        <link rel="stylesheet" href="/COut2/resources/popupClasses.css"/>
        <link rel="stylesheet" href="/COut2/resources/font-awesome-4.7.0/css/font-awesome.min.css"/>
    </h:head>
    <h:body class="grey_background">
        <h:panelGrid columns="3" class="header contentsWidth">
            <p:column class="headerColumns">
                <h:form id="formLogout">
                    <h:panelGrid columns="1">
                            <p:outputLabel>#{sessionBean.usuarioConectado.identificacion}</p:outputLabel>
                            <p:outputLabel style="font-size: smaller">#{sessionBean.usuarioConectado.perfil.nombre}</p:outputLabel>
                            <p:commandLink value="Logout" action="#{sessionBean.hacerLogout()}"/>
                    </h:panelGrid>
                </h:form>
            </p:column>
            <p:column  class="headerColumns" >
                <div id="colTitulo">
                    <p:outputLabel value="COut2" class="nombreAplicacion"/>
                </div>
            </p:column>
            <p:column class="headerColumns">
                <h:form id="formularioIrConfiguracion" rendered="#{not (sessionBean.usuarioConectado == null) and (sessionBean.usuarioConectado.perfil.id == sessionBean.idAdministrador())}">
                    <h:commandLink action="#{sessionBean.irAdministración()}" class="botonConfiguracion" rendered="#{sessionBean.renderAdministracion()}">
                            <i class="fa fa-cog fa-4x ruedaConfiguracion" aria-hidden="true"/>
                            <p:outputLabel value="Administración" class="labelConfiguracion"/>
                    </h:commandLink>
                </h:form>
            </p:column>
        </h:panelGrid>
        
        <ui:insert id="content" name="content" class="contentsWidth"/>
        
        <p:dialog id="popupInfo" 
                  widgetVar="popupInfo"
                  minHeight="40" 
                  resizable="false"
                  showHeader="#{not(popup.getCabecera() == null)}"
                  header="#{popup.getCabecera()}"
                  class="popup #{popup.getClassPopup()}"
                  >
            <h:outputText id="icono" class="#{popup.getIconPopup()}"/><h:outputText value="#{popup.getCuerpo()}"/>
        </p:dialog>
        
        <p:dialog id="popupTemplate" 
                  showHeader="#{not (textoCabecera == null)}"
                  header="#{textoCabecera}"
                  widgetVar="popupTemplate"
                  closable="false"
                  closeOnEscape="false"
                  resizable="false"
                  draggable="false"
                  class="#{claseDialog}"
                  modal="#{modalDialog}"
                  >
            <ui:insert name="contenidoPopup"/>
        </p:dialog>
        
        <p:dialog id="popupLoading"
                  draggable="false"
                  closable="false"
                  closeOnEscape="false"
                  modal="true"
                  widgetVar="modalLoading" 
                  minHeight="40" 
                  resizable="false" 
                  fitViewport="true"
                  responsive="true"
                  class="popupLoading">
            <i class="fa fa-spinner fa-pulse fa-4x fa-fw" style="color: #BBBBBB"></i>
        </p:dialog>
    </h:body>
</html>

