<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/facelets/templateBase.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!--<ui:param name="claseDialog" value="popupAdministracion"/>-->

    <ui:define name="title">COut2 - Administracion</ui:define>

    <ui:define name="content">

        <h:panelGrid columns="1"  class="contentsWidth bordeGrisFondo">
            <h:form>
                <p:commandButton value=" Volver" icon="fa fa-arrow-left" action="/panelControl/panelPrincipal.xhtml?faces-redirect=true" style="font-size: small"/>
            </h:form>
            <h:form id="formOpciones"  style="margin: auto">
                <h1 style="text-align: center">
                    <p:outputLabel value="Opciones Sistema"/>
                </h1>
                <h:panelGrid columns="2"  style="margin: auto">
                    <p:outputLabel value="URL Raspberry:" style="float: right; font-weight: bold"/>
                    <p:inputText value="#{administracion.urlRaspberry}"/>
                    <p:outputLabel value="Intervalo Muestra:"  style="float: right; font-weight: bold"/>
                    <p:column>
                        <p:inputText value="#{administracion.intervaloMuestra}" style="text-align: right"/>
                        <p:outputLabel value=" segundos"/>
                    </p:column>
                </h:panelGrid>
                <div style="text-align: center; margin:auto; margin-top: 1vh">
                    <p:commandButton value="Guardar Opciones" action="#{administracion.guardarCambiosOpciones()}" onstart="PF('modalLoading').show()" update="popupLoading popupInfo @form"/>
                </div>
            </h:form>
            <h:form id="formularioAdministracion"  style="margin: auto">
                <h1 style="text-align: center">
                    <p:outputLabel value="Lista Usuarios"/>
                </h1>
                <h:panelGrid>
                    <p:commandButton value="Recargar" action="#{administracion.recargarUsuarios()}" style="float: right;" update="tablaUsuarios" icon="fa fa-fw fa-refresh"/>
                    <p:dataTable id="tablaUsuarios" value="#{administracion.listaUsuarios}" resizeMode="fit" var="usuario">
                        <p:column headerText="Identificacion">
                            <p:outputLabel value="#{usuario.identificacion}"/>
                        </p:column>
                        <p:column headerText="Perfil">
                            <p:outputLabel value="#{usuario.perfil.nombre}"/>
                        </p:column>
                        <p:column>
                            <p:commandButton value="Bloquear" rendered="#{not (usuario.perfil.id eq administracion.getID_BLOQUEADO())}" update="popupInfo @form"
                                             icon="fa fa-lock" class="botonesBlock" action="#{administracion.bloquearUsuario(usuario)}"/>
                            <p:commandButton value="Desbloquear" rendered="#{usuario.perfil.id eq administracion.getID_BLOQUEADO()}" update="popupInfo @form"
                                             icon="fa fa-unlock" class="botonesBlock" action="#{administracion.desbloquearUsuario(usuario)}"/>
                            <p:commandButton value="Editar Perfil" action="#{administracion.editarUsuario(usuario)}" icon="fa fa-user-circle-o"
                                             update="popupTemplate popupInfo @form"/>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Crear Usuario" action="#{administracion.crearNuevoUsuario()}" style="float: right;" update="popupTemplate" icon="fa fa-fw fa-plus"/>
                </h:panelGrid>
            </h:form>
        </h:panelGrid>

    </ui:define>

    <ui:param name="modalDialog"  value="true"/>
    <ui:param name="textoCabecera"  value="#{administracion.textoCabecera}"/>

    <ui:define id="popupContenido" name="contenidoPopup">
        <ui:include src="#{administracion.contenidoPopup}"/>
    </ui:define>
</ui:composition>

