<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/facelets/templateBase.xhtml"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <ui:define name="title">COut2 - Home</ui:define>
    
    <ui:define name="content">
        <script type="text/javascript" src="../resources/js/efectoAjaxStatus.js"/> 
        <script type="text/javascript" src="../resources/js/exportarGrafica.js"/>
        <h:panelGrid columns="1" class="contentsWidth" columnClasses="columnasControles">
            <p:ajaxStatus oncomplete="ocultarCirucloCargaRefrescar();">
              <f:facet name="default">
                  <p:commandButton value="Refrescar" style="float: right" action="#{panelControl.refrescarDatos()}"
                              update="formNivelCO2 formControlAutomatico formControlManual" 
                              onstart="mostrarCirucloCargaRefrescar();PF('panelGroupControles').show();" 
                              oncomplete="PF('panelGroupControles').hide();">
                  </p:commandButton>
              </f:facet>

              <f:facet name="start">
                  
                  <h:panelGroup style="float: right;">
                    <p:commandButton id="btnRefrescar" value="Refrescar" style="float: right" action="#{panelControl.refrescarDatos()}"
                              update="formNivelCO2 formControlAutomatico formControlManual" 
                              onstart="PF('panelGroupControles').show();mostrarCirucloCargaRefrescar();" 
                              oncomplete="PF('panelGroupControles').hide();"/>
                    <i id="loadingSymbolRefrescar" class="fa fa-spinner fa-pulse fa-2x fa-fw" style="display: none"/>
                    <p:blockUI block="panelGroupControles" widgetVar="panelGroupControles"/>
                  </h:panelGroup>
              </f:facet>

              <f:facet name="complete">
                  <p:commandButton value="Refrescar" style="float: right" action="#{panelControl.refrescarDatos()}"
                              update="formNivelCO2 formControlAutomatico formControlManual" 
                              onstart="mostrarCirucloCargaRefrescar();PF('panelGroupControles').show();" 
                              oncomplete="PF('panelGroupControles').hide();">
                  </p:commandButton>
              </f:facet>
          </p:ajaxStatus>
        </h:panelGrid>
        <h:panelGrid id="panelGroupControles" columns="2" class="contentsWidth" columnClasses="columnasControles" style="height: 50px; margin: auto; border-spacing: 0px 1px;">
            <h:panelGrid id="panelGroupAutomatico" columns="2" class="panelContenedor bordeGrisFondo" style="float: left" >
                <h:panelGrid columns="2" width="100%">
                        <h:panelGrid columns="1" width="100%" columnClasses="controlNivelColumnas" style="border-right: solid 1px black;">
                            <p:outputLabel value="Control Automático" style="font-size: x-large; text-decoration: underline"/>
                            <p:outputLabel value="Nivel máximo de CO2: " style="font-size: larger"/>
                            <ui:include src="/panelControl/controles/controlNivelCO2.xhtml">
                                <ui:param name="permitido" value="#{panelControl.renderControles() ? 'true' : 'false'}"/>
                            </ui:include>
                        </h:panelGrid>
                    <h:panelGrid columns="1" style="text-align: center; width: 100%" columnClasses="controlNivelColumnas">
                        <ui:include src="/panelControl/controles/controlAutomatico.xhtml">
                            <ui:param name="permitido" value="#{panelControl.renderControles() ? 'true' : 'false'}"/>
                        </ui:include>
                    </h:panelGrid>
                </h:panelGrid>
            </h:panelGrid>
            <h:panelGrid id="panelGroupManual" columns="1" class="panelContenedor bordeGrisFondo" style="float: right">
                <ui:include src="/panelControl/controles/controlManual.xhtml">
                    <ui:param name="permitido" value="#{panelControl.renderControles() ? 'true' : 'false'}"/>
                </ui:include>
            </h:panelGrid>
        </h:panelGrid>
        <h:panelGrid columns="1" class="contentsWidth bordeGrisFondo" style="margin: auto; padding-top: 10px">
            
            <p:outputLabel value="Consulta de datos:"/>
            <p:tabView>
                <p:tab title="Nivel CO2">
                    <ui:include src="tablas/tablaMuestras.xhtml"/>
                </p:tab>    
                <p:tab title="Acciones" rendered="#{not (sessionBean.usuarioConectado == null) and (sessionBean.usuarioConectado.perfil.id == sessionBean.idAdministrador())}">
                    <ui:include src="tablas/tablaAcciones.xhtml"/>
                </p:tab>    
            </p:tabView>
        </h:panelGrid>
    </ui:define>
</ui:composition>

