<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="formEdicion">
        <h:panelGrid columns="2">
            <p:outputLabel value="Identificacion:"/>
            <p:inputText value="#{editarUsuario.identificacion}"/>
            <p:outputLabel value="Contraseña:"/>
            <p:password value="#{editarUsuario.password}"/>
            <p:outputLabel value="Perfil:"/>
            <p:selectOneMenu value="#{editarUsuario.idPerfil}">
                <f:selectItems value="#{editarUsuario.listaPerfiles}"/>
            </p:selectOneMenu>
            <p:commandButton value="Cancelar" action="#{editarUsuario.cancelar()}" update="popupTemplate popupInfo formularioAdministracion"/>
            <p:commandButton value="Guardar" action="#{editarUsuario.guardar()}" update="popupTemplate popupInfo formularioAdministracion"/>
        </h:panelGrid>
    </h:form>
</ui:composition>