<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <script type="text/javascript" src="/resources/js/exportarGrafica.js"/>
    
    <h:form id="formGrafica">
        
        <p:chart id="grafica" type="line" model="#{graficaBean.graficaMuestras}" style="width: 100%" responsive="true" rendered="#{graficaBean.graficaMuestras != null}"/>
        
        <p:commandButton id="exp" value="Exportar" onclick="exportChart();" actionListener="#{graficaBean.exportarImagen}" />
        <h:inputHidden id="b64" value="#{graficaBean.txtImagen}" />
        
        
    </h:form>
</ui:composition>