<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="formNuevoUsuario">
        <h:panelGrid columns="2" style="width: 100%; margin: auto">
            <p:outputLabel value="Identificacion:"/>
            <p:inputText value="#{crearUsuario.identificacion}"/>
            <p:outputLabel value="Contraseña:"/>
            <p:password value="#{crearUsuario.password}"/>
            <p:outputLabel value="Perfil:"/>
            <p:selectOneMenu value="#{crearUsuario.perfil}">
                <f:selectItems value="#{crearUsuario.listaPerfiles}"/>
            </p:selectOneMenu>
        </h:panelGrid>
        <p:outputLabel value="#{crearUsuario.mensajeError}" rendered="#{not (crearUsuario.mensajeError == null)}" style="color: red; font-weight: bold; margin: auto;"/> 
        <h:panelGrid columns="2" style="width: 100%; margin: auto">
            <p:column>
                <div style="text-align: center !important; width: 100%" >
                    <p:commandButton value="Cancelar" action="#{crearUsuario.cancelar()}" style="text-align: center; margin: auto" immediate="true" 
                                     update=" popupInfo formularioAdministracion"/> 
                </div>
            </p:column>
            <p:column>
                <div style="text-align: center !important; width: 100%" >
                    <p:commandButton value="Guardar" action="#{crearUsuario.guardar()}" style="text-align: center; margin: auto" 
                                     process="formNuevoUsuario" update="@form popupInfo formularioAdministracion"/>
                </div>
            </p:column>
        </h:panelGrid>
    </h:form>
    
</ui:composition>