/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2017, 8:07:00 PM
    Author     : SONY
*/

.popup{
    min-height: 280px;
    min-width: 300px;
    max-width: 300px;
}

.popup #popup_title{
    font-family: tahoma;
}

.popup .ui-dialog-titlebar{
    font-weight: bold;
}

.popupError{
    border: solid 5px #e40c0c;
}
.popupError #icono{
    margin-right: 5px;
    color: #e20000;
}

.popupWarning{
    border: solid 5px #ffdd24;
}

.popupWarning #icono{
    margin-right: 5px;
    color: #f3ce06;
}

.popupSuccess{
    border: solid 5px #28a528;
}

.popupSuccess #icono{
    margin-right: 5px;
    color: #228b22;
}

.popupInfo{
    border: solid 5px #308efb;
}

.popupInfo #icono{
    margin-right: 5px;
    color: #408fde;
}

.popupLoading{
    background: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 transparent !important;
}