/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2017, 14:59:42
    Author     : SONY
*/

/*
    CUERPO Y HTML
*/
html {
    height: 100%;
}

.grey_background{
    background: linear-gradient(#cccccc,#d9d9d9,#cccccc,white);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0px;
}

.contentsWidth{
    width: 95%;
    min-width: 95%;
    margin: auto;
}

.columnBotonCentrado{
    text-align: center;
}

/*
    CABECERA
*/


.header{
    border: solid 3px;
    border-color: #9a9a9a;
    
    top: 10px;
    margin: auto;
    
/*    background: #f2f2f2;*/
    background: #ffffff;

    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 91px;
}

.header td{
    width: 33.33%;
    margin: auto;
}

.header #colTitulo{
    text-align:center;
    vertical-align: middle;
    width: 100%;
}

.nombreAplicacion{
    font-family: Tahoma;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    color: black;
}


.pannelGridIrConfiguracion{
    margin-right: 50px;
    width: fit-content;
    float: right;
    text-align: center;
}

.botonConfiguracion{
    display: grid;
    text-align:center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    float: right;
    margin-right: 28px;
    
    .ruedaConfiguracion{
        -webkit-transition: 0.6s ease-out;
        -moz-transition:  0.6s ease-out;
        transition:  0.6s ease-out;
    }
    
    &:hover{
        .ruedaConfiguracion{
            -webkit-transform: rotateZ(720deg);
            -moz-transform: rotateZ(720deg);
            transform: rotateZ(720deg);
        }
    }
}

.labelConfiguracion{
    cursor: pointer;
    color: #383838;
    
    font-size: small;
    font-family: tahoma;
    font-weight: bold;   
}

.ruedaConfiguracion{
    color: #666666;
    text-decoration: none !important;
}

/*----------------------*/

/*LOGIN*/

.dialogLogin{
    padding: 2% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
}

.panelGridLogin{
    width: 100%;
    height: 100%;
    margin: auto;
    
    
    
}

/*PANEL PRINCIPAL--------*/

.columnasControles{
    width: 49%;
    /*margin: auto;*/
}

.controlNivelColumnas{
    line-height: 40px;
}

.bordeGrisFondo{
    border: solid 3px #a9a9a9 !important;
    background: white;
}

.panelContenedor{
    width: 100% !important;
    height: 100%;
}

.columnaCentrada{
    margin: auto;
}

/*Administracion*/
.botonesBlock{
    width: 10em;
}

/*TABLA MUESTRAS*/

.paramBusquedaMuestra{
    padding: 10%;
}