<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="formBusquedaMuestras">
        <h:panelGrid columns="1" width="100%">
            <p:outputLabel>
                <p:chart id="grafica" widgetVar="chart" type="line" model="#{graficaBean.graficaMuestras}" style="width: 100%" responsive="true" rendered="#{graficaBean.graficaMuestras != null}"/>

                <h:inputHidden id="b64" value="#{graficaBean.txtImagen}" />
            </p:outputLabel>
            <h:panelGrid columns="2" width="100%">
                <p:column styleClass="paramBusquedaMuestra">
                    <h:panelGrid columns="1" width="100%" style="margin: auto; margin-bottom: 1%;">
                        <h:panelGrid columns="2" width="100%">
                            <p:column>
                                <p:outputLabel value="Desde:"/><br/>
                                <p:calendar value="#{tablaMuestras.desde}">
                                </p:calendar>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Hasta:"/><br/>
                                <p:calendar value="#{tablaMuestras.hasta}">
                                </p:calendar> 
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Nivel Mínimo:"/><br/>
                                <p:inputText value="#{tablaMuestras.min}"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel value="Nivel Máximo:"/><br/>
                                <p:inputText value="#{tablaMuestras.max}"/>
                            </p:column>
                        </h:panelGrid>
                        <p:commandButton value="Buscar" action="#{tablaMuestras.buscar()}" process="@form" update="popupInfo @form" onstart="PF('modalLoading').show();" oncomplete="PF('tablaMuestras').getPaginator().setPage(0); PF('modalLoading').hide();" style="width: 100%"/>
                    </h:panelGrid>     
                </p:column>
                <p:column>
                    <p:dataTable emptyMessage=""
                                 id="tablaDatosMuestra"
                                 lazy="true"
                                 value="#{tablaMuestras.lazyModel}"
                                 var="muestra"
                                 paginator="true"
                                 rows="#{tablaMuestras.getTAM_PAGINA()}" 
                                 paginatorAlwaysVisible="false" 
                                 paginatorPosition="bottom"
                                 widgetVar="tablaMuestras">
                        <p:column headerText="Fecha y Hora">
                            <p:outputLabel value="#{muestra.fecha}" style="font-weight: bold">
                                <f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Madrid" locale="es"/>
                            </p:outputLabel>
                            <p:outputLabel value="#{muestra.fecha}" style="font-size: 0.8em">
                                <f:convertDateTime pattern="  HH:mm:ss " timeZone="Europe/Madrid" locale="es"/>
                            </p:outputLabel>
                        </p:column>
                        <p:column headerText="Nivel CO2">
                            <p:outputLabel value="#{muestra.valor}">
                                <f:convertNumber maxFractionDigits="3"/>
                            </p:outputLabel>
                            <p:outputLabel value=" #{muestra.tipo == null ? '' : muestra.tipo.magnitud}"/>
                        </p:column>
                    </p:dataTable>
                </p:column>
            </h:panelGrid>
        </h:panelGrid>
    </h:form>
</ui:composition>
