<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
            <h:form id="formBusquedaAcciones">
                <h:panelGrid columns="4" width="100%" style="margin: auto;">
                    <p:column>
                        <p:outputLabel value="Desde:"/><br/>
                        <p:calendar value="#{tablaAcciones.desde}">
                        </p:calendar>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Hasta:"/><br/>
                        <p:calendar value="#{tablaAcciones.hasta}">
                        </p:calendar> 
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Usuario:"/><br/>
                        <p:selectOneMenu value="#{tablaAcciones.usuario}">
                            <f:selectItem value="#{null}"/>
                            <f:selectItems value="#{tablaAcciones.listaUsuarios}"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Tipo:"/><br/>
                        <p:selectOneMenu value="#{tablaAcciones.tipo}">
                            <f:selectItem value="#{null}"/>
                            <f:selectItems value="#{tablaAcciones.listaTipoAcciones}"/>
                        </p:selectOneMenu>
                    </p:column>
                </h:panelGrid>
                <h:panelGrid columns="1" width="100%" style="margin: auto; margin-bottom: 1%;">
                    <p:commandButton value="Buscar" action="#{tablaAcciones.buscar()}" process="@form" update="@form popupInfo" style="float: right; margin-right: 5%; "/>
                </h:panelGrid>
                <p:dataTable id="tablaAcciones"
                             emptyMessage=""
                             lazy="true"
                             value="#{tablaAcciones.lazyModel}"
                             var="accion"
                             paginator="true"
                             rows="#{tablaAcciones.getTAM_PAGINA()}">
                    <p:column headerText="Tipo de Acción">
                        <p:outputLabel value="#{accion.tipo.nombre}"/>
                    </p:column>
                    <p:column headerText="Usuario">
                        <p:outputLabel value="#{accion.usuario.identificacion}"/>
                    </p:column>
                    <p:column headerText="Descripción">
                        <p:outputLabel value="#{accion.descripcion}"/>
                    </p:column>
                    <p:column headerText="Fechas y Hora">
                        <p:outputLabel value="#{accion.fecha}" style="font-weight: bold">
                            <f:convertDateTime pattern="dd/MM/yyyy" timeZone="Europe/Madrid" locale="es"/>
                        </p:outputLabel>
                        <p:outputLabel value="#{accion.fecha}" style="font-size: 0.8em">
                            <f:convertDateTime pattern="  HH:mm:ss " timeZone="Europe/Madrid" locale="es"/>
                        </p:outputLabel>
                    </p:column>
                </p:dataTable>

            </h:form>
    
</ui:composition>
