<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGrid columns="1" style="text-align: center; margin: auto">
        <p:outputLabel value="Control manual" style="font-size: x-large; margin: auto; text-decoration: underline"/>
        <p:outputLabel value="Sistema ventilación:" style="font-size: large; margin: auto"/>
        <p:outputPanel id="labelEstadoPuerta"  deferred="true" style="width: fit-content; margin: auto; text-align: center; align-content: center;  margin-top: 0.5vh">
            <h:form id="formControlManual">
                <h:panelGrid columns="1">
                    <p:outputLabel value="#{controlesEstado.getEstadoActuador()}" style="font-size: medium; margin: auto"/>
                    <p:commandButton id="botonManual" value="#{controlesEstado.textoAbrirActuador() ? 'Activar' : 'Desactivar'}" style=" margin: auto; margin-top: 1vh" update="formControlAutomatico formControlManual"
                                     rendered="#{permitido and controlesEstado.mostrarBtnAutomatico()}" action="#{controlesEstado.cambiarEstadoActuador(controlesEstado.textoAbrirActuador())}"
                                     onstart="PF('panelGroupControles').show();" 
                                     oncomplete="PF('panelGroupControles').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:outputPanel>
    </h:panelGrid>
</ui:composition>
