<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGrid columns="1" style="text-align: center; width: 100%" columnClasses="controlNivelColumnas">
        <p:outputLabel value="Estado del sistema automático: " style="font-size: large;"/>
        <p:column>
            <p:outputPanel id="labelEstadoAutomatico" style="width: fit-content; margin: auto; text-align: center; align-content: center;" deferred="true">
                <h:form id="formControlAutomatico">
                    <h:panelGrid columns="1">
                        <p:outputLabel value="#{controlesEstado.getEstadoAutomatico()}" style="font-size: medium;"/>
                        <p:commandButton id="botonAutomatico" value="#{controlesEstado.textoEncenderAutomatico() ? 'Encender' : 'Apagar'}" style=" margin: auto" update="formControlAutomatico formControlManual"
                                         rendered="#{permitido and controlesEstado.mostrarBtnAutomatico()}" action="#{controlesEstado.cambiarEstadoAutomatico(controlesEstado.textoEncenderAutomatico())}"
                                        onstart="PF('panelGroupControles').show();" 
                                        oncomplete="PF('panelGroupControles').hide();"/>
                    </h:panelGrid>
                </h:form>
            </p:outputPanel>
        </p:column>
    </h:panelGrid>
</ui:composition>
