<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:panelGrid columns="1" style="text-align: center; width: 100%" columnClasses="controlNivelColumnas">
        <p:column>
            <p:outputPanel id="labelNivelCO2" style="width: fit-content; margin: auto; text-align: center; align-content: center;" deferred="true">
                <h:form id="formNivelCO2">
                    <h:column>
                        <p:inputText id="inputCO2" size="18" style="margin: auto;" value="#{controlesCO2.maxCO2}" 
                                     readonly="#{not panelControl.renderControles() or not controlesCO2.cambiarMaxHabilitado}"
                                     disabled=""/>
                        <p:outputLabel value=" ppm"/>
                    </h:column>
                    <p:commandButton value="Aplicar" id="btnAplicar" action="#{controlesCO2.aplicarNivelCO2()}" style="margin-left: 1vw"
                        rendered="#{panelControl.renderControles()}" process="@form" update="popupLoading formNivelCO2 popupInfo" 
                        onstart="PF('modalLoading').show();" disabled="#{not controlesCO2.cambiarMaxHabilitado}"/>

                </h:form>
            </p:outputPanel>
        </p:column>
    </h:panelGrid>
</ui:composition>