<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>COut2 - Login</title>
        <link rel="stylesheet" href="/COut2/resources/templateStyle.css"/>
        <link rel="stylesheet" href="/COut2/resources/font-awesome-4.7.0/css/font-awesome.min.css"/>
    </h:head>
    <h:body class="grey_background" style="height: 100%;">
        <h:panelGrid class="dialogLogin">
            <h:form id="formularioLogin">
                <h:panelGrid id="panelGridInput" columns="2" class="panelGridLogin" style="width: 100%; height: 100%">
                    <p:outputLabel value="Identificacion:"/>
                    <p:inputText value="#{sessionBean.identificacion}"/>
                    <p:outputLabel value="Contraseña:"/>
                    <p:password value="#{sessionBean.password}"/>
                </h:panelGrid>      
                <div style="text-align: center; margin-top: 5%">
                    <p:commandButton value="Login" action="#{sessionBean.hacerLogin()}" update="popupInfo"/>
                </div>
            </h:form>
        </h:panelGrid>
        <p:dialog id="popupInfo" 
                  widgetVar="popupInfo"
                  style="max-width: 20em"
                  minHeight="40" 
                  resizable="false"
                  showHeader="#{not(popup.getCabecera() == null)}"
                  header="#{popup.getCabecera()}"
                  class="popup #{popup.getClassPopup()}"
                  >
            <h:outputText id="icono" class="#{popup.getIconPopup()}" style="margin: 0 0.2em"/>
            <h:outputText value="#{popup.getCuerpo()}"/>
        </p:dialog>
    </h:body>
</html>

